/* 1.0 Typography */
body {
  color: #333333;
  font: 93.75%/1.6em Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 1em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.333em;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

h5 {
  font-size: 1.0666em;
  font-weight: bold;
  margin-bottom: 0;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  margin-bottom: 1.5em;
}

p.leftalign {
  text-align: left;
}

p.centeralign {
  text-align: center;
}

p.rightalign {
  text-align: right;
}

address {
  font-style: normal;
  margin-bottom: 1.5em;
}

blockquote {
  margin: 0 0 0 2em;
  padding-bottom: 1.8em;
}

blockquote p {
  margin-bottom: 0.75em;
}

ul, ol {
  margin: 0 0 1.5em 2em;
}

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

dl {
  margin: 0 0 1.5em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5em 2em;
}

dd ul, dd ol {
  margin-left: 0;
}

.item-list ul {
  margin: 0;
  padding: 0;
}

.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

ul.menu {
  margin: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.menu ul {
  margin-left: 1.5em;
}

ul.inline, ul.links.inline {
  clear: both;
  margin: 0;
}

ul.inline li {
  margin: 0;
  padding: 0 1em 0 0;
}

ul.inline li.last {
  padding: 0;
}

ul li.leaf, ul li.collapsed, ul li.expanded {
  list-style: none outside none;
}

a {
  text-decoration: none;
}

a:link {
  color: #44889F;
}

a:visited {
  color: #44889F;
}

.no-touch a:hover {
  color: #A62A32;
}

a:active {
  color: #44889F;
}

img {
  max-width: 100%;
  height: auto !important;
}

.image-left,
.image-right,
.image-center {
  display: block;
  width: auto;
  margin: 0 auto 1.5em;
}

th, td {
  padding: 10px;
}

input, select, textarea {
  border: 1px solid #CCCCCC;
  color: #333333;
  padding: 0.5em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  outline: 0;
}

input:focus, select:focus, textarea:focus {
  border-color: #333333;
}

input[type="checkbox"], input[type="radio"], input[type="submit"], input[type="image"] {
  width: auto;
}

input[type="image"] {
  border: 0;
  outline: invert none medium;
}

input[type="search"] {
  -webkit-appearance: none;
  moz-appearance: none;
}

input, select {
  max-width: 400px;
}

fieldset {
  margin: 2em 0;
  border-color: #CCCCCC;
}

legend {
  font: 1.333em Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  border: 1px solid #CCCCCC;
  padding: 2px 15px;
  background: #EEEEEE;
}

legend + * {
  -webkit-margin-top-collapse: separate;
}

.form-type-checkbox label, .form-type-radio label {
  color: #999999;
}

input.form-checkbox:checked + label, input.form-radio:checked + label {
  color: #333333;
}

input[type="submit"], button, a.button {
  background: #EEEEEE;
  border-radius: 0;
  color: #333333;
  padding: 0.5em 1em;
  margin-right: 1em;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.no-touch input[type="submit"]:hover, .no-touch button:hover, .no-touch a.button:hover {
  background: #CCCCCC;
}

.form-item {
  margin: 2em 0;
}

.form-item .description, .filter-guidelines {
  font-size: 0.8em;
  line-height: 1.1666em;
  display: block;
  clear: left;
  color: #999999;
  margin-top: 5px;
}

label {
  font-weight: normal;
}

.webform-client-form .description, .fieldset-description {
  margin-bottom: 1.5em;
}

.fieldset-description {
  margin-top: 20px;
}

div.error, .error {
  color: #A62A32;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #A62A32;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

a.tabledrag-handle .handle {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.image-widget-data {
  width: 100%;
  max-width: 400px;
}

.form-managed-file .form-file {
  width: 73%;
}

.form-managed-file .form-submit {
  width: 25%;
  margin-left: 2%;
}

.node-form .field-type-image table {
  width: 100%;
}

.node-form .field-type-image td {
  vertical-align: middle;
}

.node-form .field-type-image td .image-widget {
  float: left;
}

.filter-wrapper .form-item {
  margin: 0;
}

.vertical-tabs ul.vertical-tabs-list li {
  font-size: 0.8em;
  line-height: 1.167em;
}

.vertical-tabs ul.vertical-tabs-list li a {
  padding: 1em 0.6em;
}

.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: 0;
}

.vertical-tabs ul.vertical-tabs-list li a:hover,
.vertical-tabs ul.vertical-tabs-list li a:active,
.vertical-tabs ul.vertical-tabs-list li a:focus {
  background: #F5F5F5;
}

.vertical-tabs ul.vertical-tabs-list li.selected a:hover,
.vertical-tabs ul.vertical-tabs-list li.selected a:active,
.vertical-tabs ul.vertical-tabs-list li.selected a:focus {
  background: transparent;
}

.vertical-tabs ul.vertical-tabs-list li a:hover strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:focus strong {
  text-decoration: none;
}

.vertical-tabs fieldset.vertical-tabs-pane {
  font-size: 0.8em;
  line-height: 1.167em;
}

.vertical-tabs fieldset.vertical-tabs-pane .form-item {
  margin: 1em 0;
}

.vertical-tabs fieldset.vertical-tabs-pane .description {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .image-left {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 50%;
  }

  .image-right {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 50%;
  }

  .image-center {
    display: block;
    width: auto;
    margin: 0 auto 1.5em;
  }
}
/* 2.0 Structure */
html, body {
  height: 100%;
}

body.admin-menu {
  margin-top: 0 !important;
  padding-top: 29px !important;
}

.chromeframe {
  margin: 0.2em 0;
  background: #CCCCCC;
  color: #333333;
  padding: 0.2em 0;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  left: 0;
  right: 0;
  z-index: 5;
  background: #fff;
  overflow-x: auto;
}

#skip-link {
  position: absolute;
}

/* 3.0 Headers and Highlighted */
#header {
  position: relative;
}

#header #logo img {
  display: block;
}

/* 4.0 Navigation */
nav ul {
  margin: 0;
}

#navigation {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation-header {
  cursor: pointer;
}

ul.main-menu li.menu-dismiss {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2em;
  cursor: pointer;
}

#navigation ul.main-menu {
  position: absolute;
  left: -999em;
}

#navigation ul.main-menu.open {
  position: relative;
  left: auto;
}

#navigation li ul.main-menu {
  clear: both;
  padding: 0 1em;
}

#navigation ul.main-menu li {
  padding: 0;
}

#navigation ul.main-menu li a, #navigation ul.main-menu li span.nolink, #navigation ul.main-menu li span.separator {
  display: block;
  padding: 0.5em 1em;
  line-height: 1em;
}

#navigation ul.main-menu li.expanded > a, #navigation ul.main-menu li.expanded > span.nolink {
  float: left;
  padding-right: 0.25em;
  cursor: pointer;
}

#navigation ul.main-menu li.expanded:after {
  content: '';
  display: table;
  clear: both;
}

#navigation ul.main-menu li.expanded ul {
  clear: both;
}

#navigation ul.main-menu li .menu-toggle {
  float: right;
  display: block;
  font-size: 1.333em;
  line-height: 0.5em;
  margin: 0.3em 0;
  padding: 0 1em 0 0.33333em;
  /* border-left: 1px solid $very-dark-gray; */
  cursor: pointer;
}

#navigation ul.main-menu span.separator hr {
  margin: 0;
  border-color: #CCCCCC;
}

.mobile-style-default #navigation > ul.main-menu {
  position: fixed;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: -300px;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 500;
  background: #EEEEEE;
  font-size: 1.6em;
}

.mobile-style-default #navigation ul.main-menu li a,
.mobile-style-default #navigation ul.main-menu li span.nolink,
.mobile-style-default #navigation ul.main-menu li span.separator {
  padding: 0.5em 0.8333em;
}

.mobile-style-default #navigation ul.main-menu li .menu-toggle {
  padding-right: 0.8333em;
}

.mobile-style-default #navigation ul.main-menu li {
  border-bottom: 1px solid #CCCCCC;
}

.mobile-style-default #navigation li ul.main-menu li {
  border-bottom: none;
}

.mobile-style-default #navigation ul.main-menu li.first {
  padding-right: 2em;
}

.mobile-style-default #navigation ul.main-menu li.menu-dismiss {
  font-size: 1.5em;
  border-bottom: none;
}

.mobile-style-default #navigation > ul.main-menu.open {
  left: 0;
}

.mobile-style-default #navigation ul.main-menu span.separator hr {
  border-width: 3px;
}

@media screen and (min-width: 768px) {
  #navigation {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #navigation .navigation-header {
    position: absolute;
    left: -999em;
  }

  #navigation > ul.main-menu {
    background: #EEEEEE;
    z-index: 500;
    position: relative;
    left: auto;
  }

  #navigation > ul.main-menu:after {
    content: '';
    display: table;
    clear: both;
  }

  ul.main-menu li.menu-dismiss {
    display: none;
  }

  #navigation ul.main-menu li {
    position: relative;
  }

  #navigation ul li {
    float: left;
    padding: 0;
  }

  #navigation li ul li {
    float: none;
  }

  #navigation li ul.main-menu {
    position: absolute;
    left: -999em;
    top: 2em;
    width: 100%;
    background: #EEEEEE;
    z-index: 500;
  }

  #navigation li ul.main-menu.open {
    position: absolute;
    left: auto;
    padding: 0;
  }

  #navigation li ul li .menu-toggle .fa-caret-down:before {
    content: "\f0da";
  }

  #navigation li ul li .menu-toggle .fa-caret-up:before {
    content: "\f0d9";
  }

  #navigation li li ul.main-menu.open {
    left: 100%;
    top: 0;
  }

  #navigation > ul.main-menu > li > span.separator {
    padding: 0;
    margin: 0.25em 0;
    height: 1.6em;
    border-left: 1px solid #CCCCCC;
  }

  .mobile-style-default #navigation > ul.main-menu {
    width: auto;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    overflow: visible;
    font-size: 1em;
  }

  .mobile-style-default #navigation ul.main-menu li {
    border-bottom: none;
  }

  .mobile-style-default #navigation ul.main-menu li.first {
    padding-right: 0;
  }

  .mobile-style-default #navigation > ul.main-menu.open {
    left: auto;
  }

  .mobile-style-default #navigation ul.main-menu li a,
  .mobile-style-default #navigation ul.main-menu li span.nolink,
  .mobile-style-default #navigation ul.main-menu li span.separator {
    padding: 0.5em 1em;
  }

  .mobile-style-default #navigation ul.main-menu li .menu-toggle {
    padding-right: 1em;
  }

  .mobile-style-default #navigation ul.main-menu li.expanded > a,
  .mobile-style-default #navigation ul.main-menu li.expanded > span.nolink {
    padding-right: 0.25em;
  }

  .mobile-style-default #navigation > ul.main-menu > li > span.separator {
    padding: 0;
  }

  .mobile-style-default #navigation ul.main-menu span.separator hr {
    border-width: 1px;
  }
}
/* 5.0 Content */
/* 6.1 Messages */
div.messages {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 2em;
}

div.messages ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

div.messages li {
  margin-bottom: 1em;
}

div.messages .close {
  cursor: pointer;
  float: right;
  font-size: 2em;
}

div.status, div.warning, div.error {
  border-color: #CCCCCC;
  background-color: #fff;
}

div.status, .ok {
  color: #333333;
}

/* 6.2 Admin tabs */
.tabs-wrapper {
  margin: 1px 0 1.5em;
}

ul.primary {
  margin: 0;
  padding: 1px 0 0;
  border-bottom: none;
}

ul.primary li {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

ul.primary li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.no-touch ul.primary li a:hover {
  border-color: #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

ul.primary li.active a {
  border-color: #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

/* 6.3 Nodes */
.node {
  margin-bottom: 1.5em;
}

/* hide read more link in a way that doesn't screw up phones */
.node-readmore .element-invisible {
  left: -999em;
}

/* social media links */
ul.btn-social {
  margin: 0;
  padding: 0;
  height: 30px;
}

.btn-social li {
  float: left;
  margin-right: 10px;
  list-style: none outside none;
  font-size: 1.333em;
}

.btn-social li.last {
  margin-right: 0;
}

#page .share-links {
  margin: 20px 0;
}

/* 6.4 Fields */
.field {
  margin: 0 0 1.5em;
}

.field-name-field-tags div {
  display: inline;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.video-container {
  width: 100%;
  position: relative;
  padding: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 6.5 Profiles */
.profile {
  margin: 1.5em 0;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.profile dd {
  margin-bottom: 1.5em;
}

.password-parent {
  width: 36em;
}

/* 6.6 Comments */
#comments {
  clear: both;
  margin-top: 1.5em;
}

.comment {
  margin-bottom: 1.5em;
}

.comment .new {
  text-transform: capitalize;
}

/* 6.7 content formatting for specific pages */
/* 6.7.1 search form & search results page */
#search-block-form {
  position: relative;
}

#search-block-form .form-item-search-block-form:after {
  content: '\f002';
  font-family: FontAwesome;
  position: absolute;
  top: 2px;
  right: 8px;
}

#search-block-form .form-item-search-block-form input {
  padding: 5px 2em 5px 5px;
  max-width: none;
  margin: 0;
}

#search-block-form input.form-submit {
  position: absolute;
  top: 4px;
  right: 5px;
  background: transparent;
  outline: 0;
  text-indent: -999em;
  margin-right: 0;
  padding: 0;
  height: 100%;
  width: 2em;
}

.search-form .form-text {
  width: 200px;
}

.search-form #edit-basic, .search-form #edit-advanced {
  margin-bottom: 3em;
}

.search-results {
  margin-left: 0;
}

.search-results .search-snippet-info {
  padding-left: 0;
  border-bottom: 1px solid #CCCCCC;
}

.search-results .search-info {
  display: none;
}

.page-search #block-system-main .content h2, .page-search404 #block-system-main h2 {
  padding-bottom: 1.1em;
  border-bottom: 1px solid #CCCCCC;
}

/* 6.8 Miscellaneous */
#context_ui_dialog-context-ui {
  width: 570px;
}

.context-ui-dialog-open {
  right: -55px;
}

.book-navigation .menu {
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  ul.primary {
    border-bottom: 1px solid #CCCCCC;
  }

  ul.primary li {
    display: inline;
    margin-bottom: 0;
  }

  ul.primary li a {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    padding: 2px 0.75em 0;
  }

  ul.primary li.active a {
    background-color: #fff;
    border-color: #CCCCCC #CCCCCC #fff;
  }

  .no-touch ul.primary li a:hover {
    background-color: #fff;
    border-color: #CCCCCC #CCCCCC #fff;
    border-bottom: solid 1px #fff;
  }

  ul.secondary {
    line-height: 3em;
    margin: 0 0 -1px;
    padding: 0;
  }

  ul.secondary a.active {
    border-bottom: none;
  }
}
/* 6.0 Sidebars */
.sidebar .block {
  margin-bottom: 2em;
}

/* 7.0 Footers */
#footer-wrapper.fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

#footer #site-credit {
  text-align: center;
}

@media screen and (min-width: 768px) {
  #utility {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  #utility .region, #utility-nav {
    position: relative;
  }

  #utility-menu-links {
    position: absolute;
    right: 20px;
    top: 10px;
    display: block;
  }

  #utility .block {
    position: absolute;
  }
}
/* 8.0 Reveals and Modals */
#modals-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 314159;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-open #modals-wrapper {
  opacity: 1;
}

.modal-dismiss.primary {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  font-size: 2em;
}

#modals .block {
  display: none;
  background: #fff;
}

.modal-open #modals .block {
  opacity: 1;
}

#modals .block > h2 {
  background: #CCCCCC;
  margin: 0;
  padding: 10px 40px 10px 20px;
}

#modals .block > .content {
  padding: 10px 20px;
  border-bottom: 1px solid #CCCCCC;
}

.modal-open {
  overflow: hidden;
}

.reveal {
  z-index: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #CCCCCC;
  width: 300px;
  padding-top: 30px;
}

#reveal-left-wrapper {
  left: 0;
}

#reveal-right-wrapper {
  right: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#wrapper {
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.reveal-left, .reveal-right {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.reveal-left #wrapper {
  left: 300px;
}

.reveal-left #reveal-left-wrapper {
  z-index: 1;
}

.reveal-right #wrapper {
  left: -300px;
}

.reveal-right #reveal-right-wrapper {
  z-index: 1;
}

.reveal-left.reveal-right #wrapper {
  left: 0;
}

.reveal-dismiss.primary {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 2.4em;
}

.reveal .block {
  display: none;
}

.reveal .block > h2 {
  padding: 10px 20px;
}

.reveal .block > .content {
  padding: 10px 20px;
}

.admin-menu .reveal {
  padding-top: 59px;
}

.admin-menu .reveal-dismiss.primary {
  top: 34px;
}

@media screen and (min-width: 768px) {
  .modal-dismiss.primary {
    position: fixed;
    top: 25px;
    right: 30px;
    font-size: 2.6667em;
  }

  #modals .block {
    width: 600px;
    margin: 30px auto;
  }

  #modals .block > h2 {
    padding: 10px 20px 9px;
  }

  #modals .block > .content {
    padding: 10px 19px;
    border: 1px solid #CCCCCC;
  }

  .reveal {
    padding-top: 40px;
  }
}
/* 9.0 IE Fixes */
html.lt-ie8 #header-wrapper, html.lt-ie8 #main-wrapper, html.lt-ie8 #footer-wrapper {
  position: relative;
  z-index: 0;
}

html.lt-ie8 input[type="text"], html.lt-ie8 input[type="password"], html.lt-ie8 select, html.lt-ie8 textarea {
  width: 90%;
}

html.lt-ie8 #navigation li ul.main-menu.dropped {
  left: 0;
}

html.lt-ie9 img {
  max-width: none;
}
