// navigation

nav ul { margin: 0; }
#navigation { padding-top: 10px; padding-bottom: 10px; }
.navigation-header { cursor: pointer; }

ul.main-menu li.menu-dismiss { position: absolute; top: 5px; right: 5px; font-size: 2em; cursor: pointer; }
#navigation ul.main-menu { position: absolute; left: -999em; }
#navigation ul.main-menu.open { position: relative; left: auto; }
#navigation li ul.main-menu { clear: both; padding: 0 1em; }
#navigation ul.main-menu li { padding: 0; }
#navigation ul.main-menu li a { display: block; padding: 0.5em 1em; line-height: 1em; }
#navigation ul.main-menu li.expanded > a { float: left; padding-right: 0.5em; }
#navigation ul.main-menu li.expanded:after { content: ''; display: table; clear: both; }
#navigation ul.main-menu li.expanded ul { clear: both; }
#navigation ul.main-menu li .menu-toggle { float: right; display: block; font-size: 1.333em; line-height: 0.5em; margin: 0.3em 0; padding: 0 0.33333em; border-left: 1px solid $very-dark-gray; cursor: pointer; }

.mobile-style-default #navigation > ul.main-menu { position: fixed; width: 300px; overflow-x: hidden; overflow-y: auto; top: 0; bottom: 0; left: -300px; @include transition-property(left); @include transition-duration(0.15s); @include transition-timing-function(linear); z-index: 500; background: $very-light-gray; font-size: 1.6em; }
.mobile-style-default #navigation ul.main-menu li { border-bottom: 1px solid $light-gray; }
.mobile-style-default #navigation li ul.main-menu li { border-bottom: none; }
.mobile-style-default #navigation ul.main-menu li.first { padding-right: 2em; } 
.mobile-style-default #navigation ul.main-menu li.menu-dismiss { font-size: 1.5em; border-bottom: none; }
.mobile-style-default #navigation > ul.main-menu.open { left: 0; }

// iPad in portrait mode or larger
@media screen and (min-width: 768px) {
	#navigation { padding-top: 20px; padding-bottom: 20px; }
	#navigation .navigation-header { position: absolute; left: -999em; }
	#navigation > ul.main-menu { background: $very-light-gray; z-index: 500; position: relative; left: auto; }
	#navigation > ul.main-menu:after { content: ''; display: table; clear: both; }
	ul.main-menu li.menu-dismiss { display: none; }
	#navigation ul.main-menu li { position: relative; }
	#navigation ul li { float: left; padding: 0; }
	#navigation li ul li { float: none; }
	#navigation li ul.main-menu { position: absolute; left: -999em; top: 2em; width: 100%; background: $very-light-gray; z-index: 500; }
	#navigation li ul.main-menu.open { position: absolute; left: auto; padding: 0; }
	#navigation li ul li .menu-toggle { padding-right: 0.25em; border-left: none; }
	#navigation li ul li .menu-toggle .fa-caret-down:before { content: "\f0da"; }
	#navigation li ul li .menu-toggle .fa-caret-up:before { content: "\f0d9"; }
	#navigation li li ul.main-menu.open { left: 100%; top: 0; }

	.mobile-style-default #navigation > ul.main-menu { width: auto; position: relative; top: auto; bottom: auto; left: auto; overflow: visible; font-size: 1em; }
	.mobile-style-default #navigation ul.main-menu li { border-bottom: none; }
	.mobile-style-default #navigation ul.main-menu li.first { padding-right: 0; }
	.mobile-style-default #navigation > ul.main-menu.open { left: auto; }
}
