html, body { height: 100%; }
.chromeframe { margin: 0.2em 0; background: $light-gray; color: $base-text; padding: 0.2em 0; }
#wrapper { width: 100%; min-height: 100%; position: relative; }
#skip-link { position: absolute; }

